* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* parallax global */

html, body {
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    line-height: 2.5rem;
}

.content {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 5rem 8rem;
}

p {
    margin-bottom: 2rem;
}