* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white url('/projects/noticias-cidade/images/fundo.png') repeat-x left top;
}

#container {
    width: 75rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#container #topo {
    /* border: 1px solid green; */
    height: 15rem;
    padding-top: 2.5rem;
    background: url('/projects/noticias-cidade/images/detalhe-topo.png') no-repeat right top;
}

#container #topo .logo {
    width: 15.2rem;
    height: 6.6rem;
    background: url('/projects/noticias-cidade/images/logo.png') no-repeat center;
    text-indent: -3000rem;
    overflow: hidden;
}


/* Barra de navegação */
a:link, a:visited {
    color: #b10333;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container #topo ul {
    margin-top: 3rem;
    background: #b10333;
    float: left;
}

#container #topo ul li {
float: left;
}

#container #topo ul li a {
    font-size: 1.7rem;
    display: block;
    padding: 0.6rem 1.6rem;
    line-height: 2.8rem;
    text-decoration: none;
    color: white;
    background: url('/projects/noticias-cidade/images/divisor.png') no-repeat left center;
}

#container #topo ul li.primeiro a {
    background: none;
}

#container #topo ul li a:hover {
    color: #69001d;
}

/* deixar marcado no menu */
body.home ul#navegacao-horizontal a#home,
body.brasil ul#navegacao-horizontal a#brasil,
body.internacional ul#navegacao-horizontal a#internacional,
body.fotos ul#navegacao-horizontal a#fotos {
    color: white;
    background: #de003e;
    cursor: default;
}


/* remover a divisão do menu */
body.home #container #topo ul#navegacao-horizontal li.segundo a,
body.brasil #container #topo ul#navegacao-horizontal li.terceiro a,
body.internacional #container #topo ul#navegacao-horizontal li.quarto a {
    background: none;
}


/* Configurar layout de tres colunas */
#container #conteudo {
    margin-top: 6rem;
    background: #f5f5f5;
}

#container #conteudo #primario {
    width: 27rem;
    float: left;
    margin: 0 0 2rem 19.5rem;
}

/* #tres-colunas #container #conteudo #primario {
    width: 27rem;
    /* float: left;
    margin: 0 0 2rem 19.5rem;
    background: blue;
} */

#duas-colunas #container #conteudo #primario {
    width: 55.5rem;
    /* margin: 0 0 2rem 19.5rem; */
}

#uma-coluna #container #conteudo #primario {
    width: 75rem;
    margin: 0 0 2rem 0;
}

#container #conteudo #lateral {
    width: 18rem;
    float: left;
    margin: 0 0 2rem -75rem;
}

#container #conteudo #secundario {
    width: 27rem;
    float: left;
    margin: 0 0 2rem 1.5rem;
}


/* caixas */
.caixa {
    margin: 1rem 0;
    padding: .5rem;
    background: #f3f3f3 url('/projects/noticias-cidade/images/fundo-caixa.png');
}

.caixa h2 {
    font-size: 2rem;
    padding: .5rem;
    background: #294c71;
    color: white;
}

.caixa-conteudo{
    background: white;
    padding: .5rem;
    margin-top: .5rem;
}


/* formatando menu lateral */
#container #conteudo #lateral .caixa .caixa-conteudo ul a {
    font-size: 1.6rem;
    padding: .3rem;
    display: block;
    line-height: 3rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#container #conteudo #lateral .caixa .caixa-conteudo ul a:hover {
    background: #f9f9f9 url('/projects/noticias-cidade/images/marcador.png') no-repeat left center;
    color: #a1a1a1;
    /* padding-left: 2rem; */
    text-indent: 2rem;
    align-items: center;
    justify-content: center;
}


/* formatando formularios */
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

label {
    display: block;
    cursor: pointer;
    text-align: center;
}

input {
    margin: .4rem .8rem;
    padding: .5rem;
    width: 13rem;
    font-size: 1.6rem;
    background-color: white;
}

input.submit {
    margin-left: 3.8rem;
    width: 8rem;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    
}


/* formatando imagens */
/* img {
    border: 2px solid #dfdfdf;
} */

img.img-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}


/* formatando cabeçalhos */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 1.4rem;
    padding: .3rem;
    word-break: break-word;
}

.destaque h3 {
    background: #b10333;
    color: white;
}

.entrevista h3 {
    background: #de003e;
    color: white;
}


/* formatar lista noticia */
#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
    height: 6.2rem;
    align-items: center;
    justify-content: center;
}

#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li a img {
    float: left;
    margin: .5rem;
}


#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li a h3 {
    padding: 0;
    font-size: 1.1rem;
    color: #3e7ab9;
}

#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li a {
    text-decoration: none;
}

#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li a p {
    font-size: 1.3rem;
    color: black;
}

#container #conteudo .caixa 
.caixa-conteudo #lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/* rodape */
#container-rodape {
    background: #294c71;
    padding: 2rem;
}

#container-rodape #rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
    text-align: center;
}